//////// Reusable components ////////
.ui.dimmer
{
    background: rgba(98, 98, 95, 0.85);
}

.modal{
    &__active{
        position: absolute;
        top: 40px;
    }
}


.dimmerScreen{
    background-color: rgba(213, 213, 206, 0.85);
    opacity: 0.5;
    transition-duration: 0.5s;
}



/////// Header ////////

.profile{
    &__container{
        cursor: pointer;
    }
    &__text{
        display: inline;
        font-weight: bold;
    }
}
.header{
    border-bottom: solid 1px gray;
    margin-bottom: 1rem;
    &__right{
        display: flex;
        flex-direction: row;
        position: relative;

        
        .dropdown{
            z-index: 1000;
            border: 1px solid black;
            margin-top: 1rem;
            position: absolute;
            right: 10rem;
            top: 4rem;
            width: 15rem;
            height: 6rem;
            font-size: 110%;
            line-height: 2rem;
            border-radius: 10px;
            background-color: #fff;
            opacity: 1;
            transition-property: all;
            transition-duration: 1s;
        }
        ul{
            list-style: none;
            margin-left: 10px;
            margin-top: 2px;
        }

        li{
            margin-top: 5px;
        }

        li:hover{
            cursor: pointer;
            font-weight: bold;
        }
        li:visited, li:active{
            text-decoration: none !important;
        }

    }

    &__Link{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 1rem;
        color: var(--color-grey-dark-2);
        text-decoration: none;
        font-size: 120%;
        font-family: sans-serif;
        border-bottom: 2px solid #fff ;
        transform: scale(1);
        transition: transform 0.2s, border-bottom 0.2s;
        
        
    }

    &__Link:hover{
        border-bottom: 2px solid var(--color-grey-dark-2) ;
        transform: scale(1.05);
        
    }

    &__icon{
        height: 2.5rem;
        
    }
}



////////  HomeScreen
.homeScreen{
    &__inner{
        text-align: center;
    }
}

.button{
    display: inline-block;
    opacity: 0;
    text-decoration: none;
    font-size: 110%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10%;
    color: black;
    font-size: 110%;
}

.products{
    display: inline-block;
    height: 26rem;
    width: 26rem;
    margin: 2rem;

    &__header{
        margin-left: 3rem;
    }
    
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__container{
            position: relative;
            

            &__image{
                height: 18rem;
                width: 22rem;
                border-radius: 10%;
                margin-bottom: 0.5rem;
                transition: transform 0.5s;
            }
            
            &__detailsButton{
                position: absolute;
                left: 2rem;
                top: 12rem;
                opacity: 0;
                transition: opacity 0.5s;
            }
            &__cartButton, button{
                
                position: absolute;
                left: 11rem;
                top: 12rem;
                opacity: 0;
                transition: opacity 0.5s;
            }
        }

        &__container:hover > &__container__detailsButton , &__container:hover > &__container__cartButton{
            opacity: 1;
        }   

        &__container:hover > &__container__image{
            transform: scale(1.1);
            background-color: white;
            opacity: 0.5;
        }   

    
        &__description{
            display: inline-block;
            width: 250px;
            font-weight: 200;
            font-size: 120%;
            text-align: center;
        }
        &__price{
            font-weight: bold;
            font-size: 150%;
        }
    }

}

///////// ProductScreen

.productScreen{
    display: flex;


    &__imgContainer{
        
        &__img{
            height: 30rem;
            width: 32rem;
            border-radius: 10%;
            margin: 1rem 1rem;
        }
    }
    &__desContainer{
        width: 35rem;
        display: flex;
        flex-direction: column;
        margin: 1rem;

        &__description{
            font-size: 130%;
            line-height: 1.5;
            font-weight: 100;
            text-align: justify;

        }
        &__price{
            font-weight: bold;
            font-size: 120%;
        }
    }

    &__cartContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 0;
        align-content: flex-start;
        height: 12rem;
        width: 16rem;
        border: 1px solid var(--color-grey-dark-2);

        &__status{
            margin-bottom: 3rem;
        }
        &__button{
            justify-items: center;
            width: 12rem;
            height: 3rem;
        }
    }
}

//////////// CartScreen/////

.cartScreen{
    display: flex;
    flex-direction: row;
    
    &__left{
        flex-basis: 75%;
    }

    &__right{
        line-height: 3rem;
        text-align: center;
        &__subtotal{
            font-weight: bold;
        }
        &__btn{
            background-color: rgb(254, 194, 41);
            width: 90%;
            border: none;
            border-radius: 5px;
            height: 3rem;
            cursor: pointer;
            transition: background-color 0.2s;
        }

        &__btn:hover{
            background-color: rgb(249, 179, 1);
            //opacity: 0.7;
        }

        &__btn:active{
            background-color: rgb(254, 194, 41);
        }
    }
    &__products{
        display: flex;
        align-items: center;
        font-size: 120%;
        font-family: sans-serif;
        width: 100%;
        &__right{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-basis: 60%;

            
        }
        &__bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    }
    
    &__image{
        height: 12rem;
        margin: 1rem;
        border-radius: 20%;
        flex-basis: 20%;
    }
    &__editBtn{
        height: 3rem;
        width: 4rem;
        background-color: var(--color-grey-light-2);
    }

}


//////////// LoginScreen ////////////

.loginScreen {
    margin: 10% 20%;
    width: 60%;
    border-radius: 1rem;
    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
        
        &__header{
            font-size: 200%;
        }
        &__title{
            font-size: 150%;
        }
        &__input{
            width: 60%;
            height: 3rem;
            margin-bottom: 1rem;
            background-color: var(--color-grey-light-2);
            text-align: center;
        }
        &__input:focus{
            outline: none;
        }

        &__btn{
            width: 10rem;
            background-color: rgb(28, 27, 27);
            color: white;
            height: 3rem;
            margin: 1rem;
        }

    }
}


/////// Profile Screen ////

.productScreen{
    display: flex;

    &__details{
        width: 30%;
        display: flex;
        flex-direction: column;
    }
}



////// Place Order Screen //////

.placeOrderScreen {
    display: flex;

    &__left{
        flex-basis: 70%;
    }
}










.error__container{
    display: flex;
    align-items: center;
    margin: 2rem 1rem;
    height: 5rem ;
    background-color: rgb(238, 156, 156);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    &__icon{
        margin-left: 1rem;
    }

    &__text{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;

    }

}
